{% extends "base.html"%}
{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Jamiyat tarixi" %}</title>
</head>
<body>
    {% block content %}
    <section id="stats" class="stats section light-background" style="background-color: white;">

        <div class="container" data-aos="fade-up" data-aos-delay="100">
  
          <div class="row gy-4">
            <div class="accordion accordion-flush" style="margin-top: 300px;" id="accordionFlushExample">
                <div class="alert" role="alert">
                    {% trans "" %}
                </div>
            </div>
        </div>
    </div>
    </section>
</body>
</html>

{% endblock %}